/*Reset Code & Common Code Starts Here*/

:root {
  --primary-color: rgb(11, 141, 48);
  --secondary-color: rgba(19, 92, 35, 0.9);
  --padding: 0.5rem;
  --transition: all 0.3s;
  --border-radius: 0.6rem;
  --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.flex_spacr_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: var(--padding);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.cart {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--padding);
  transition: var(--transition);
}

.cart:hover {
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(114, 114, 114, 0.5);;
}

.dot_div {
  display: flex;
  gap: 0.4rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(156, 155, 155, 0.5);;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

/*Reset Code & Common Code Ends Here*/

#menu_ber {
  display: none;
}

/* Navber Design Starts Here */

nav {
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.uper_navber {
  min-height: 10vh;
  background-color: var(--primary-color);
  padding: 1rem 0;
}

.nav_list {
  list-style-type: none;
  transition: var(--transition);
}

.nav_list:hover {
  text-decoration: overline;
}

.nav_link {
  text-decoration: none;
  color: white;
  transition: var(--transition);
}

.nav_link:hover {
  color: black;
}

.profile_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid white;
  filter: saturate(0);
  transition: var(--transition);
}

.profile_icon:hover {
  filter: saturate(1);
}

.lower_navber {
  min-height: 10vh;
  background-color: var(--secondary-color);
}

.lower_nav_logo {
  font-size: 1.7rem;
}

/* Navber Design Ends Here */

/* Header Design Starts Here */
header {
  height: 80vh;
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features {
  width: 100%;
}

.header_Section_one {
  font-size: 3rem;
  color: yellow;
}

.header_Section_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: rgb(65, 143, 65);
  margin-top: 10rem;
  width: 22%;
  height: 60%;
  border-radius: 15px;
  gap: 1rem;
  color: white;
}

.feature > i {
  font-size: 2.5rem;
}
/* Header Design Ends Here */

/* Main Section Design Starts Here */
.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_section_one {
  flex: 1;
  margin-top: -38rem;
  margin-left: 0.5rem;
}

.catagorices {
  margin: 2rem 0;
}

.catagorie_section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.price_section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.shipping_section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.main_section_two {
  flex: 3;
  margin: 5rem 0;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions_sort select {
  width: 10rem;
  height: 2rem;
}

.actions_sort label {
  font-weight: bolder;
}

.action_search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_search input {
  padding: var(--padding);
  width: 15rem;
  height: 2rem;
}

.fa-magnifying-glass {
  /* padding: var(--padding); */
  padding: 0.5rem;
}

.product_section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.products {
  position: relative;
  margin: 1rem 0.4rem;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  color: white;
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3rem;
  font-size: 0.7rem;
  z-index: 10;
}

.product_image {
  width: 100%;
  height: 40vh;
  transition: var(--transition);
  filter: saturate(0);
}

.product_image:hover {
  filter: saturate(1);
}

.product_details h4{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.product_details p{
  margin: 0.5rem 0;
}

.product_price {
  font-size: 1.2rem;
  font-weight: bold;
}

.add_to_cart {
  padding: var(--padding);
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  font-size: 0.95rem;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  border: 1px solid rgb(194, 186, 186);
  transition: var(--transition);
}

.add_to_cart:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}

/* Main Section Design Ends Here */

/* Footer Design Starts Here */

.footer {
  min-height: 10vh;
  background-color: var(--primary-color);
  color: white;
}

.footer_input {
  border: none;
  padding: var(--padding);
}

.footer_right {
  margin-left: 11.5rem;
}

/* Footer Design Ends Here */

/* Responsive Design Starts Here */

@media (max-width: 992px) {
  .flex_spacr_around {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .subscribe_btn {
    margin-top: -10px;
    padding: 0.5rem 4.8rem;
  }

  .footer_input {
    margin-top: -10px;
    width: 14.5rem;
  }

  .footer_right {
    margin-left: 0rem;
    margin-top: -15px;
  }

  #menu_ber {
    display: block;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
  }

  .hidden {
    display: none;
  }

  header {
    height: 140vh;
  }

  .features {
    width: 100%;
  }

  .header_Section_one {
    font-size: 2.5rem;
    color: yellow;
  }

  .header_Section_two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .feature {
    margin-bottom: -7rem;
    width: 15rem;
    height: 8rem;
  }

  .product_section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main_section_one {
    margin-top: 4rem;
    display: flex;

  }

  .catagorices{
    font-size: 0.9rem;
    margin: 0 3rem;
  }

}

@media (max-width: 768px) {
  .product_section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .catagorices{
    font-size: 0.9rem;
    margin: 0 1.5rem;
  }
}

@media (max-width: 600px) {
  .actions_sort select{
    width: 8rem;
  }

  .action_search input{
    width: 13rem;
  }

  .product_section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .catagorices{
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}

/* Responsive Design Ends Here */
